<!DOCTYPE html>
<html ng-app="CadastroUsuario">
<head>

    <meta charset="UTF-8">
    <title>Cadastro Usuário</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/angular/css/angular-material.css">
    <link rel='stylesheet prefetch' href='lib/angular/css/docs.css'>
    <link rel='stylesheet prefetch' href='fonts/icone.css'>
    <link rel='stylesheetmelhor' type="text/css" href='lib/projeto/css/projetoCSS.css'>
    <script src='lib/angular/angular.js'></script>
    <script src='lib/angular/angular-animate.min.js'></script>
    <script src='lib/angular/angular-route.min.js'></script>
    <script src='lib/angular/angular-aria.min.js'></script>
    <script src='lib/angular/angular-messages.min.js'></script>
    <script src='lib/angular/angular-material.js'></script>
    <script src='lib/angular/angular-locale_pt-br.js'></script>
    <script src='lib/filters/mask.js'></script>
    <script src='lib/projeto/js/projetoAngulaJS.js'></script>

</head>

<body ng-controller="CadastroUsuarioCtrl" ng-init="listar()" style="overflow: scroll">

<div class="jumbotron table-wrapper-scroll-y">
    <h3 style="text-align: center;">Cadastro Usuário</h3>
    <form name="frmUsuario" enctype="multipart/form-data">

        <div id="campos" style="width: 100%;float: left;">

            <div style="width: 23%;float: left;padding-right: 2%"><label class="labelFontImput">Usuário</label>
                <input class="form-control" name="username" type="text" ng-model="usuario.username" required
                       placeholder="Usuário"/>
            </div>

            <div style="width: 23%;float: left;padding-right: 2%"><label class="labelFontImput">Senha</label>
                <input class="form-control" name="password" type="text" ng-model="usuario.password" required
                       placeholder="Senha"/>
            </div>

            <div style="width: 54%;float: left;padding-right: 2%"><label class="labelFontImput">Nome</label>
                <input class="form-control" name="name" type="text" ng-model="usuario.name" required
                       placeholder="Nome"/>
            </div>

            <div style="width: 46%;float: left;padding-right: 2%"><label class="labelFontImput">Sobre Nome</label>
                <input class="form-control" name="surname" type="text" ng-model="usuario.surname" required
                       placeholder="Sobre Nome"/>
            </div>

            <div style="width: 23%;float: left;padding-right: 2%"><label class="labelFontImput">Telefone</label>
                <input class="form-control" name="phone" type="text" ng-model="usuario.phone" ui-mask="(99) 9 9999-9999" required
                       placeholder="Telefone"/>
            </div>

            <div style="width: 31%;float: left;padding-right: 2%"><label class="labelFontImput">Email</label>
                <input class="form-control" name="email" type="text" ng-model="usuario.email" required
                       placeholder="Email"/>
            </div>

            <div style="width: 23%;float: left;padding-right: 2%"><label class="labelFontImput">Data de Registro</label>
                <input readonly="true" class="form-control" name="register_date" type="text" ng-model="usuario.register_date"
                       placeholder="Data de Registro"/>
            </div>

        </div>

        <div class="alert alert-danger" ng-show="message" id="msg">
            {{message}}
        </div>
    </form>

    <div style="width: 98%;text-align: center;float: left;">
        <button id="salvar" class="btn btn-primary" ng-click="salvar(usuario)">Salvar</button>
        <button id="limpar" class="btn btn-primary" ng-click="cancelar()">Limpar</button>
    </div>

    <div style="width: 54%;float: left;padding-bottom: 2%"><label class="labelFontImput">Busca</label>
        <input class="form-control" name="busca" type="text" ng-model="busca" required
               placeholder="Busca"/>
    </div>
        <table class="table table-striped" style="width: 98%; font-size: 15px;">
            <tr>
                <th style="width: 5%"><a href="" ng-click="ordenarPor('id')">ID</a></th>
                <th style="width: 10%"><a href="" ng-click="ordenarPor('username')">Usuário</a></th>
                <th style="width: 10%"><a href="" ng-click="ordenarPor('password')">Senha</a></th>
                <th style="width: 13%"><a href="" ng-click="ordenarPor('name')">Nome</a></th>
                <th style="width: 20%"><a href="" ng-click="ordenarPor('surname')">Sobre Nome</a></th>
                <th style="width: 12%"><a href="" ng-click="ordenarPor('phone')">Telefone</a></th>
                <th style="width: 15%"><a href="" ng-click="ordenarPor('email')">Email</a></th>
                <th style="width: 10%"><a href="" ng-click="ordenarPor('register_date')">Data</a></th>

                <th style="width: 10%">ações</th>
            </tr>
            <tr  style="font-size: 12px" ng-repeat="usuario in listaUsuario | filter:busca | orderBy:criterio:ordem">
                <td>{{usuario.id}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.surname}}</td>
                <td>{{usuario.phone}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.register_date}}</td>
                <td>
                    <i class="material-icons" title="Deletar" ng-click="deletar(usuario)"
                       class="material-icons">&#xE872;</i>
                </td>

            </tr>
        </table>
</div>

</body>
</html>